---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Person from "../components/PersonCard.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container max-w-[1550px] mx-auto px-10 grid grid-cols-1 gap-20">
		<Header />

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
			<Person />
			<Person />
			<Person />
		</div>
		<div class="grid grid-rows-1 max-w-4xl w-full m-auto gap-10">
			<h2 class="text-violet-950 text-2xl font-semibold dark:text-white">
				Recommended publications:
			</h2>
		</div>
		<div class="grid grid-rows-1 max-w-4xl w-full m-auto gap-10">
			<Link />
			<Link />
			<Link />
			<Link />
			<Link />
			<Link />
		</div>

		<Footer />
	</div>
</Layout>
