<footer
    class="flex flex-row p-20 border-t border-violet-200 justify-center items-center gap-10"
>
    <div class="opacity-30 text-center justify-start text-violet-950 text-sm">
        © 2025 your company name
    </div>
    <div class="opacity-30 text-center justify-start text-violet-950 text-sm">
        power by: <a
            href="https://astro.build/"
            target="_blank"
            class="text-violet-950 hover:text-violet-600 hover:underline transition-all duration-300"
            >astro</a
        > & <a
            href=""
            target="_blank"
            class="text-violet-950 hover:text-violet-600 hover:underline transition-all duration-300"
        >brainmark</a>
    </div>
    <div class="opacity-30 text-center justify-start text-violet-950 text-sm">
        design & code: <a
            href="https://agnieszkapalmowska.myportfolio.com/"
            target="_blank"
            class="text-violet-950 hover:text-violet-600 hover:underline transition-all duration-300"
        >agnieszka palmowska design</a>
    </div>
</footer>
