---
import { Icon } from 'astro-icon/components';
---

<div
    class="self-stretch p-12 relative bg-white rounded-2xl shadow-xl/30 shadow-violet-500/10 dark:shadow-slate-950/40 inline-flex flex-col justify-start items-start gap-10 overflow-hidden dark:bg-slate-950/50"
>
    <div class="self-stretch flex flex-col justify-start items-center gap-10">
        <div class="relative">
            <img
                class="w-[200px] h-[200px] rounded-full"
                src="https://images.unsplash.com/photo-1566492031773-4f4e44671857?q=80&w=200&h=200&auto=format&fit=crop"
            />
            <div class="w-[24px] h-[24px] bottom-0 right-0 absolute">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M22.1904 3.89204C21.2831 3.89204 20.5475 3.15651 20.5475 2.24918C20.5475 1.34186 21.2831 0.606323 22.1904 0.606323C23.0977 0.606323 23.8333 1.34186 23.8333 2.24918C23.8333 3.15651 23.0977 3.89204 22.1904 3.89204Z"
                        class="fill-violet-500 dark:fill-white"></path>
                    <path
                        d="M22.1904 13.7492C21.2831 13.7492 20.5475 13.0136 20.5475 12.1063C20.5475 11.199 21.2831 10.4635 22.1904 10.4635C23.0977 10.4635 23.8333 11.199 23.8333 12.1063C23.8333 13.0136 23.0977 13.7492 22.1904 13.7492Z"
                        class="fill-violet-500 dark:fill-white"></path>
                    <path
                        d="M22.1904 23.6063C21.2831 23.6063 20.5475 22.8708 20.5475 21.9635C20.5475 21.0561 21.2831 20.3206 22.1904 20.3206C23.0977 20.3206 23.8333 21.0561 23.8333 21.9635C23.8333 22.8708 23.0977 23.6063 22.1904 23.6063Z"
                        class="fill-violet-500 dark:fill-white"></path>
                    <path
                        d="M12.3333 23.6063C11.4259 23.6063 10.6904 22.8708 10.6904 21.9635C10.6904 21.0561 11.4259 20.3206 12.3333 20.3206C13.2406 20.3206 13.9761 21.0561 13.9761 21.9635C13.9761 22.8708 13.2406 23.6063 12.3333 23.6063Z"
                        class="fill-violet-500 dark:fill-white"></path>
                    <path
                        d="M2.47611 23.6063C1.56878 23.6063 0.833253 22.8708 0.833253 21.9635C0.833253 21.0561 1.56878 20.3206 2.47611 20.3206C3.38344 20.3206 4.11897 21.0561 4.11897 21.9635C4.11897 22.8708 3.38344 23.6063 2.47611 23.6063Z"
                        class="fill-violet-500 dark:fill-white"></path>
                </svg>
            </div>
        </div>

        <div
            class="self-stretch flex flex-col justify-start items-center gap-8"
        >
            <div
                class="self-stretch flex flex-col justify-start items-center gap-2"
            >
                <div
                    class="justify-start text-violet-950 text-2xl font-semibold dark:text-white"
                >
                    Jerome Bell
                </div>
                <div
                    class="self-stretch text-center justify-start text-violet-400 text-sm font-medium font-['Inter'] leading-tight tracking-widest"
                >
                    Product Analyst
                </div>
            </div>
        </div>
    </div>
    <div
        class="self-stretch flex flex-col justify-start items-center gap-10 overflow-hidden"
    >
        <div
            class="w-full max-w-[900px] opacity-80 text-center justify-start text-violet-950 dark:text-white text-base font-normal font-['Inter'] leading-normal"
        >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
        </div>
        <div
            class="self-stretch flex flex-col justify-start items-center gap-5"
        >
            <div
                class="self-stretch opacity-50 text-center justify-start text-violet-950 dark:text-white/60 text-sm font-normal font-['Inter'] leading-[21px]"
            >
                Get in touch:
            </div>
            <div class="inline-flex justify-center items-center gap-4">
                <a href="#" class="group"><Icon name="simple-icons:facebook" class="text-violet-500 text-sm group-hover:text-violet-950 transition-all duration-300 dark:hover:text-white"/></a>
                <a href="#" class="group"><Icon name="simple-icons:x" class="text-violet-500 text-sm group-hover:text-violet-950 transition-all duration-300 dark:hover:text-white" /></a>
                <a href="#" class="group"><Icon name="simple-icons:instagram" class="text-violet-500 text-sm group-hover:text-violet-950 transition-all duration-300 dark:hover:text-white" /></a>
                <a href="#" class="group"><Icon name="simple-icons:bluesky" class="text-violet-500 text-sm group-hover:text-violet-950 transition-all duration-300 dark:hover:text-white" /></a>
                <a href="#" class="group"><Icon name="simple-icons:github" class="text-violet-500 text-sm group-hover:text-violet-950 transition-all duration-300 dark:hover:text-white" /></a>
            </div>
        </div>
    </div>
</div>
